# Ignore all data inside data folder
data/


# Ignore markdown outputs
src/*.html
src/*.pdf

output/*.html
output/*.pdf
# Standard output, error and timing of runs
output/
#output/*.out
#output/*.err
#output/*.time

# Latex auxilary files
*.aux
*.log
*.out

*.knit.md
*.utf8.md

.Rhistory

*.rds
.Rproj.user

/results
/oversampling_results
/learn-hyperparameters
/logistic_regression
/learn-hyperparameters
